/*! purgecss start ignore */
@tailwind base;
@tailwind components;

@font-face {
  font-family: "Cascadia";
  src: url("/Cascadia.ttf");
}

// Vue transitions

.transition {
  transition: all 0.25s ease;
}
.grid-enter-active {
  transition: all 0.25s ease;
}
.grid-leave-active {
  transition: none;
}
.grid-enter,
.grid-leave-to {
  opacity: 0;
  transform: scale(0.8);
}

button,
a {
  &:focus,
  &:active {
    @apply outline-none shadow-outline;
  }
}

/*! purgecss end ignore */

@tailwind utilities;
