/*! purgecss start ignore */
@tailwind base;
@tailwind components;

// Vue transitions
.transition {
  transition: all 0.3s ease;
}

.slideUp-enter-active {
  transition: all 0.3s ease-in;
}
.slideUp-leave-active {
  transition: none;
}
.slideUp-enter,
.slideUp-leave-to {
  opacity: 0;
  transform: translateY(10px);
}

/*! purgecss end ignore */

@tailwind utilities;
